.container{
    margin: 2rem 0;
}

.artistImage{
    display: inline;
    border-radius: 10rem;
}

.artistNameHeader{
    display: inline;
    vertical-align: bottom;
    margin: 1rem;
    font-size: 2rem; 
    font-weight: 800;
}


.albumContainer{
    margin: 2rem 0.5rem;
}

.albumTitle{
    font-weight: 600;
}

.trackDetail{
    margin: 0 0.5rem;
    font-size: 1rem;
    color: var(--foreground-rgb);
}

@media only screen and (max-width: 600px) {
    .artistImage{
        display: block;
    }

    .artistNameHeader{
        display: block;
        margin-left: 0rem;
    }

    .trackPreview{
        display: none;
    }

    .trackDetail{
        font-size: 1rem;
    }

    .albumContainer{
        margin-left: 0;
    }
}