@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-secondary-color: #1DB954;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --highlight-secondary-gray: #c0c1bf;
  --secondary-gray: #e3e6e1;
  --gray: #116930;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-secondary-color: #1DB954;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --highlight-secondary-gray: #127234;
    --secondary-gray: #1DB954;
    --gray: #116d31;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
