.title{
    font-size: 1.5rem;
    margin: 1rem;
    display: inline;
}

.langbtn{
    font-size: 1rem;
    float: right;
    margin-right: 1rem;
    padding: 0.3rem;
    width: 70px;
    border-radius: 0.5rem;
    background-color: var(--secondary-gray);
}