#navbar{
    background-color: var(--background-secondary-color);
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbarbtn{
    display: inline;
    font-size: min(3rem, 15px);
    padding: min(3rem, 15px);
    width: 33.3%;
}

@media only screen and (max-width: 600px) {
    .navbarbtn{
        display: inline;
        font-size: min(2rem, 10px);
        padding: min(2rem, 10px);
        width: 33.3%;
    }
  }

/* .navbarbtn:hover, .navbarbtn:active{
    background-color: var(--gray);
    transition: ease-in;
    transition-duration: 100ms;
} */

.active{
    background-color: var(--gray);
    transition: ease-in;
    transition-duration: 100ms;
}