#navbar{
    background-color: var(--background-secondary-color);
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbarbtn{
    display: inline;
    font-size: min(5rem, 20px);
    padding: min(5rem, 20px);
    width: 33.3%;
}

/* .navbarbtn:hover, .navbarbtn:active{
    background-color: var(--gray);
    transition: ease-in;
    transition-duration: 100ms;
} */

.active{
    background-color: var(--gray);
    transition: ease-in;
    transition-duration: 100ms;
}